<div class="container=">
    <div class="card">
        <div class="card-header">
          <h6>View All User Credential</h6>
        </div>
        <div class="card-body">
         <table class="table table-hover">
        <thead>
          <tr>
            <th>Name</th>
            <th>Lastname</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let ps of employee ">
            <td>{{ps.nome}}</td>
            <td>{{ps.cognome}}</td>
            <td>
            </td>
            </tr>
        </tbody>
      </table>
    </div>
    </div>
  </div>

  


