<div class="container col-md-6" >
    <div class="card">
        <div class="card-header">
          <h6>All Fiscal Code</h6>
        </div>
        <div class="card-body">
         <form action="" >
           
           
            <div class="formgroup">
                <label for="">Name</label>
                <input type="text" class="form-control">
            </div>
   
            <div class="formgroup">
                <label for="">Lastname</label>
                <input type="text" class="form-control">
            </div>
   
            <div class="formgroup">
                <label for="">Birthdate</label>
                <input type="text" class="form-control">
            </div>
               
            <div class="formgroup">
                <label for="">City</label>
                <input type="text" class="form-control">
            </div>
               
            <div class="formgroup">
                <label for="">Gender</label>
                <input type="text" class="form-control">
            </div>

            <button (click)="Save(Persona)" class="btn btn-danger">Save</button>
         </form>
    </div>
    </div>
  </div>

  
  <li class="list-inline-item"><a routerLink="/" class="btn btn-info">Come back</a></li>


