<div class="dropdown">
  <button class="dropbtn"><span class="glyphicon glyphicon-globe"></span>IT</button>
  <div class="dropdown-content">
      <a href="#" (click)="itLan()">IT</a>
      <a href="#" (click)="enLan()">EN</a>
      <a href="#" (click)="chLan()">CN</a>
  </div>
</div>


<div class="c"><img src="../assets/hw.png" alt="IPZS_logo" style="height: 20em"></div>
<ul class="c">
<li style="float:right" class="g"><a class="active loging" href="login"><i class="fa fa-user-circle-o" style="font-size:2em;color:#B7B7B7"></i></a></li>
<li class="c"><button (click)="logout()">Logout</button></li>
<li class="c"><a href="#contact" class="c">{{contatti}}</a></li>
<li class="c"><a href="/viewallempl" class="c">{{prodotti}}</a></li>
<li class="c"><a href="/viewAll" class="c">{{accedi}}</a></li>
<li class="c"><a href="/viewAll" class="c">{{iscrizione}}</a></li>
<li class="c"><a href="/generate" class="c">{{home}}</a></li>
</ul>

<router-outlet></router-outlet>
